*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3{
  color: #0000f0
}

.breadcrumb{
  margin-left: auto;
  margin-right: auto;
}

.no_text_decoration{
  text-decoration: none !important;
  color: white;
}